{% extends "base.html" %}

{% block addTitle %}<title>Yammer Integration Products</title>{% endblock addTitle %}

{% block breadCrumb %}
	<ul id="breadCrumb">
		<li><a href="/">Home</a></li>
	</ul>
{% endblock breadCrumb %}

{% block addCSS %}
	<link type="text/css" rel="stylesheet" href="/css/index.css" />
{% endblock addCSS %}

{% block body %}
		<h2>Yammer Integration Product Downloads</h2>
		<p>Complete a questionnaire below to download the associated integration package.</p>
		<ul id="qList">
			<li>
				<h3>Yammer ADSync Download</h3>
				<p class="description">Yammer's ADSync utility synchronizes the users in your Yammer community with your existing Active Directory structure. To download the latest version of the Yammer ADSync utility and the associated documentation, please complete the questionnaire.</p>
				<p class="qLink"><a href="/adsync"><img src="/images/download.gif"> Answer the ADSync Questionnaire ({{ numADQuestions }} questions) to download</a></p>
			</li>
			<li>
				<h3>Yammer for SharePoint Download</h3>
				<p class="description">The Yammer for SharePoint web part adds feeds and functionality from Yammer to your SharePoint pages. To download the latest version of the Yammer for SharePoint web part and the associated documentation, please complete the questionnaire.</p>
				<p class="qLink"><a href="/sharepoint"><img src="/images/download.gif"> Ansrew the SharePoint Web Part Questionnaire ({{ numSPQuestions }} questions) to download</a></p>
			</li>
			<li>
				<h3>Yammer SSO Download</h3>
				<p class="description">Yammer's SSO server can connect to your existing SAML-based SSO server to automatically log your users in based on your SSO server's authentication mechanisms. To retrieve the latest version of the SSO documentation, please complete the questionnaire.</p>
				<p class="qLink"><a href="/sso"><img src="/images/download.gif"> Answer the Yammer SSO ({{ numSSOQuestions }} questions) to download</a></p>
			</li>
		</ul>
{% endblock body %}