{% extends "base.html" %}

{% block addTitle %}<title>Yammer Integration Products</title>{% endblock addTitle %}

{% block breadCrumb %}
	<ul id="breadCrumb">
		<li><a href="/">Home</a></li>
		<ul>
			<li>SharePoint Package</li>
		</ul>
	</ul>
{% endblock breadCrumb %}

{% block addCSS %}
	<link type="text/css" rel="stylesheet" href="/css/success.css" />
{% endblock addCSS %}

{% block body %}
	<h2>Thanks for responding!</h2>
	<p>Download the appropriate package below. Please note that Yammer does not have a web part for SharePoint 2003.</p>
	<p class="downloadLink"><a href="https://yammer-inc.box.net/shared/ofjegqa9h1">Download the Yammer Web Part for <b>SharePoint 2010</b></a></p>
	<p class="orP">OR</p>
	<p class="downloadLink"><a href="https://yammer-inc.box.net/shared/43gycuhso0">Download the Yammer Web Part for <b>SharePoint 2007</b></a></p>
{% endblock body %}