{% extends "base.html" %}

{% block addTitle %}<title>Yammer Integration Products</title>{% endblock addTitle %}

{% block breadCrumb %}
	<ul id="breadCrumb">
		<li><a href="/">Home</a></li>
		<ul>
			<li>SSO Package</li>
		</ul>
	</ul>
{% endblock breadCrumb %}

{% block addCSS %}
	<link type="text/css" rel="stylesheet" href="/css/success.css" />
{% endblock addCSS %}

{% block body %}
	<h2>Thanks for responding!</h2>
	<p>Please download the documentation from the link below.</p>
	<p id="downloadLink"><a href="https://yammer-inc.box.net/shared/rnyd6eusv4">Download Yammer SSO Guide</a></p>
{% endblock body %}